@model IEnumerable<PC_Shop_Business_Logic.View_Models.WarehouseViewModel>

@{
    ViewData["Title"] = "Склады";
}

<h2>Список складов</h2>

<p>
    <a asp-action="Create">Новый склад</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">Открыть </a>|
                <a asp-action="Edit" asp-route-id="@item.ID">Изменить </a>|
                <a asp-action="Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
