@model IEnumerable<PC_Shop_Business_Logic.View_Models.AvailableViewModel>

@{
    ViewData["Title"] = "Список складов";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.ComponentName</h1>
</div>

<hr />

<div class="text-left">
    <h3>@ViewBag.Count или более комплектующих имеется в наличии на складах</h3>
</div>

<hr />

<table class="table table-hover table-bordered">
    <thead class="thead thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WarehouseName)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td class="text-center">
                    <a class="btn btn-outline-success btn-sm" asp-controller="Warehouses" 
                       asp-action="Reserve" asp-route-warehouseID ="@item.WarehouseID" 
                       asp-route-componentID="@ViewBag.ComponentID" asp-route-count="@ViewBag.Count" 
                       asp-route-requestID="@ViewBag.RequestID">
                    Зарезервировать</a>
                </td>
            </tr>
        }
    </tbody>
</table>

