@model IEnumerable<PC_Shop_Business_Logic.View_Models.RequestViewModel>

@{
    ViewData["Title"] = "Аккаунт";
}

@section Links {
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Warehouses" asp-action="List">Склады</a>
            </li>
        </ul>
    </div>
}

<h2>Список заявок</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="RequestView" asp-route-id="@item.ID">Просмотр заявки</a>
                </td>
            </tr>
        }
    </tbody>
</table>
