@model Dictionary<int, (string, int, bool)>
@{
    ViewData["Title"] = "Заявка";
}

@{
    bool completed = true;
}

@section Links {
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Main">Заявки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Warehouses" asp-action="List">Склады</a>
            </li>
        </ul>
    </div>
}

<div class="text-center">
    <h1 class="display-4">Заявка № @ViewBag.RequestID</h1>
</div>

<hr />

<table class="table table-hover table-bordered">
    <thead class="thead thead-light">
        <tr>
            <th>
                Комплектующее
            </th>
            <th class="text-center">
                Количество
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Value.Item1)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Value.Item2)
                </td>
                <td class="text-center">
                    @if (!item.Value.Item3)
                    {
                        completed = false;
                        <a class="btn btn-outline-success btn-sm" asp-action="ListAvailable"
                           asp-route-id="@item.Key" asp-route-name="@item.Value.Item1"
                           asp-route-count="@item.Value.Item2" asp-route-requestID="@ViewBag.RequestID">
                            Зарезервировать
                        </a>
                    }
                    else
                    {
                        <button type="button" class="btn btn-sm btn-success" disabled>Зарезервировано</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if (completed)
{
    <hr />

    <div class="row justify-content-center">
        <a class="btn btn-success" asp-action="CompleteRequest" asp-route-id="@ViewBag.RequestID">Исполнить</a>
    </div>
} 