@model IEnumerable<PC_Shop_Business_Logic.View_Models.ComponentViewModel>

@{
    ViewData["Title"] = "Компоненты";
}

<div class="text-center">
    <h1 class="display-4">Пополнение склада №@ViewBag.warehouseID</h1>
</div>

<hr />

<div>
    <a class="btn btn-outline-secondary" asp-controller="Warehouses" asp-action="Details" asp-route-id="@ViewBag.warehouseID">Вернуться к списку складов</a>
</div>

<hr />

<table class="table table-hover table-bordered">
    <thead class="thead thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a class="btn btn-outline-success btn-sm" asp-action="Resupply" asp-route-componentID="@item.ID" asp-route-warehouseID="@ViewBag.warehouseID">Пополнить</a>
                </td>
            </tr>
        }
    </tbody>
</table>


