@model IEnumerable<PC_Shop_Business_Logic.View_Models.ComponentViewModel>

@{
    ViewData["Title"] = "Компоненты";
}

<h1>Пополнение склада №@ViewBag.warehouseID</h1>

<h2>Список компонентов для пополнения</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Resupply" asp-route-componentID="@item.ID" asp-route-warehouseID="@ViewBag.warehouseID">Пополнить</a>
            </td>
        </tr>
}
    </tbody>
</table>
